@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <div data-options="region:'north',split:true" style="height:100px;">

    </div>
    <div data-options="region:'south',split:true" style="height:50px;">
    </div>
    <div data-options="region:'west',title:'CTS导航',split:true" style="width: 200px; background: #e5eaee;">
        <div id="meun" class="easyui-accordion" fit="true" style="background: #e5eaee;">
            <div title="收件中心" style="padding: 10px; background: #e5eaee;">
                <ul >
                    <li>
                        <a href="#">收件管理</a>
                    </li>
                </ul>


            </div>
            <div title="发件中心" style="padding: 10px; background: #e5eaee;">

            </div>
            <div title="客户中心" style="padding: 10px; background: #e5eaee;">

            </div>
            <div title="系统设置" style="padding: 10px; background: #e5eaee;">

            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'欢迎使用CTS系统'" style="padding:0px;background:#eee;">
        <div id="tab" class="easyui-tabs" fit="true">
            <div title="主页" style="padding:20px;display:none;">
                主页
            </div>
            @*<div title="录入收件" data-options="closable:true" cache="false" style="padding:1px;" href="@Url.Action("AddOrder", "Receipt", new { area = "ReceiptManagement" })">
            </div>*@
            <div title="收件管理" data-options="closable:true" cache="false" style="padding:1px;" href="@Url.Action("Index", "Receipt", new { area = "ReceiptManagement" })">
            </div>
        </div> 
    </div>
    <script>
        $(function () {
            
        });

    </script>
</body> 
