<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
    
    
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MySqlContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=demo;user id=root;password=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <entityframework codeconfigurationtype="mysql.data.entity.mysqlefconfiguration, mysql.data.entity.ef6">
    <defaultconnectionfactory type="system.data.entity.infrastructure.sqlconnectionfactory, entityframework" />
    <providers>
      <provider invariantname="mysql.data.mysqlclient" type="mysql.data.mysqlclient.mysqlproviderservices, mysql.data.entity.ef6" />
      <provider invariantname="system.data.sqlclient" type="system.data.entity.sqlserver.sqlproviderservices, entityframework.sqlserver" />
    </providers>
  </entityframework>

  <system.data>
    <dbproviderfactories>
      <add name="mysql data provider" invariant="mysql.data.mysqlclient" description=".net framework data provider for mysql" type="mysql.data.mysqlclient.mysqlclientfactory, mysql.data, version=6.9.5.0, culture=neutral, publickeytoken=c5687fc88969c44d" />
      
      
    <remove invariant="mysql.data.mysqlclient" /><add name="mysql data provider" invariant="mysql.data.mysqlclient" description=".net framework data provider for mysql" type="mysql.data.mysqlclient.mysqlclientfactory, mysql.data, version=6.8.4.0, culture=neutral, publickeytoken=c5687fc88969c44d" /></dbproviderfactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>